:root{
    --color-base-1: #93BCDC;
    --color-base-2: #4B7CC0;
    --color-base-3: #3A66B3;
    --color-base-4: #224F8A;
    --color-base-5: #FFF275;

    --color-light-1: #efefed;
    --color-light-2: #e6e5e4;

    --color-text-1: #032744;
    --color-text-1-hover: #104d80;
    --color-text-2: #323230;
    --color-text-2-hover: #4e4e49;

    --color-secundary-1: #A31621;
    --color-secundary-2: #B5D6B2;
}

body{
    background-color: var(--color-light-1);
}

.navbar{
    background-color: var(--color-light-2);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.main-home{
    padding: 15px;
}

h1{
    color: var(--color-text-1);
}

p{
    color: var(--color-text-2);
    margin-top: 1rem;
    font-size: 1.3rem;
}

.nav-link{
    color: var(--color-text-2);

    &:hover{
        color: var(--color-text-2-hover);
    }
}

.dropdown-menu{
    background-color: var(--color-light-2);
}

.dropdown-item{
    color: var(--color-text-1);

    &:hover{
        color: var(--color-text-1-hover);
    }
}

.nav-buttons{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.btn-primary{
    background-color: var(--color-base-2);

    &:hover{
        background-color: var(--color-base-3);
        color: var(--color-light-2);
    }
}

.bg-insercao{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

.btn-submit{
    padding: 1rem 2rem;

    font-size: 1.2rem;
}

.obrigatorio{
    color: var(--color-secundary-1);
}