<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="atualizar.html">Atualizar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inserir
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="veiculo.html">Veículo</a></li>
                                <li><a class="dropdown-item" href="motorista.html">Motorista</a></li>
                                <li><a class="dropdown-item" href="viagem.html">Viagem</a></li>
                                <li><a class="dropdown-item" href="abastecimento.html">Abastecimento</a></li>
                                <li><a class="dropdown-item" href="manutencao.html">Manutenção</a></li>
                                <li><a class="dropdown-item" href="multa.html">Multa</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="main-home">
        <h1>Registre tudo com praticidade</h1>
        <p>Aqui suas viagens e todos os detalhes podem ser registrados e analisados da melhor forma possível</p>
    </main>

</body>
</html>